* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
@font-face {font-family: NotoSerifKR;font-display: swap;src: url("../assets/fonts/NotoSerifKR-SemiBold.woff2") format("woff2");font-weight: 600;font-style: normal;}
@font-face {font-family: NotoSerifKR;font-display: swap;src: url("../assets/fonts/NotoSerifKR-Bold.woff2") format("woff2");font-weight: 700;font-style: normal;}
@font-face {font-family: NotoSerifKR;font-display: swap;src: url("../assets/fonts/NotoSerifKR-Black.woff2") format("woff2");font-weight: 900;font-style: normal;}
@font-face {font-family: InterTight;font-display: swap;src: url("../assets/fonts/InterTight-SemiBold.woff2") format("woff2");font-weight: 600;font-style: normal;}
@font-face {font-family: InterTight;font-display: swap;src: url("../assets/fonts/InterTight-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: InterTight;font-display: swap;src: url("../assets/fonts/InterTight-Medium.woff2") format("woff2");font-weight: 500;font-style: normal;}
:root {
  --font-family: InterTight, sans-serif;
  --second-family: NotoSerifKR, serif;
  --white: #fff;
  --white-80: rgba(255, 255, 255, 0.8);
  --white-40: rgba(255, 255, 255, 0.4);
  --nude: #efebe0;
  --grey-100: #dbdada;
  --black-100: #1d1d1b;
  --black-80: rgba(29, 29, 27, 0.8);
  --black-70: rgba(29, 29, 27, 0.7);
  --black-60: rgba(29, 29, 27, 0.6);
  --black-50: rgba(29, 29, 27, 0.5);
  --black-40: rgba(29, 29, 27, 0.4);
  --black-20: rgba(29, 29, 27, 0.2);
  --light: #fdfbf6;
  --light-2: #e5e4e0;
  --light-3: #dfdfdf;
  --light-4: #bfbebc;
  --light-5: #f0efeb;
  --gray: #d0cfca;
  --gray-2: #939393;
  --gray-3: #767572;
  --gray-4: #898989;
  --dark: #2a2a28;
  --dark-2: #040404;
  --red: #e0001e;
}

body {
  min-width: 320px;
  color: var(--black-100);
  font-family: var(--font-family);
  font-size: 16px;
  background-color: var(--light);
}
body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease 0s;
  pointer-events: none;
  z-index: 149;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 1800px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.title {
  font-family: var(--second-family);
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.02em;
}
.title--h1 {
  font-weight: 700;
}
.title--h5 {
  font-size: 20px;
}
.title--h6 {
  font-size: 18px;
}

.button,
.button-empty,
.button-dark {
  max-width: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border: 1px solid var(--light);
  background-color: var(--light);
  color: var(--black-100);
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.02em;
  padding: 16px 24px;
  min-height: 62px;
  transition: background 0.3s, border 0.3s, color 0.3s;
}
.button[disabled],
.button-empty[disabled],
.button-dark[disabled] {
  pointer-events: none;
  color: var(--black-40) !important;
}

.button-empty {
  border-color: var(--gray);
  background-color: transparent;
}
.button-empty--white {
  border-color: var(--light);
  color: var(--light);
}

.button-dark {
  background-color: var(--black-100);
  border-color: var(--black-100);
  color: var(--white);
}
.button-dark[disabled] {
  color: var(--white-40) !important;
}

.lang-block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.lang-block__link {
  border: 1px solid transparent;
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  font-size: 13px;
  letter-spacing: 0.03em;
  color: var(--black-80);
  transition: color 0.3s, border 0.3s, background 0.3s;
}
.lang-block__link.is-active {
  pointer-events: none;
  color: var(--black-80);
  background-color: var(--gray);
  border-color: var(--gray);
}

.dropdown-menu {
  overflow: hidden auto;
}

.menu-open--filter-aside body::after {
  z-index: 50;
  opacity: 1;
}

.focus-guard {
  position: fixed !important;
  width: 0px !important;
  height: 0px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  white-space: nowrap !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}

.slider-navigation {
  max-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  padding: 5px;
  border: 1px solid var(--black-100);
  background-color: var(--black-100);
  color: var(--light);
  transition: background 0.3s, border 0.3s, color 0.3s;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  pointer-events: none;
  border-color: var(--gray);
  background-color: var(--light);
  color: var(--gray-4);
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px 12px;
}
.swiper-pagination.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 4px;
  border-radius: 4px;
  background-color: var(--black-20);
  position: relative;
  overflow: hidden;
  transition: background 0.3s, height 0.3s;
}
.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 0;
  border-radius: 4px;
  z-index: 1;
  background-color: var(--black-100);
  transition: width 0.2s, height 0.2s;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 48px;
  background-color: transparent;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  width: 100%;
  transition: width 0.4s, height 0.4s;
}

.lines-decor {
  display: flex;
  align-items: center;
  gap: 60px;
}
.lines-decor::before, .lines-decor::after {
  content: "";
  flex: 1 1 auto;
  height: 1px;
  background-color: var(--gray);
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product-card--big {
  grid-column: span 2;
  grid-row: span 2;
}
.product-card--big .product-card__img {
  aspect-ratio: 690/1016;
}
.product-card__badges {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
}
.product-card__badge {
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: var(--light);
  padding: 10px;
  word-break: break-word;
}
.product-card__delete {
  margin-left: auto;
  display: grid;
  place-content: center;
  color: var(--black-100);
  width: 44px;
  height: 44px;
  padding: 5px;
  background-color: var(--light);
  transition: color 0.3s, background 0.3s;
}
.product-card__img {
  display: grid;
  place-content: center;
  overflow: hidden;
  aspect-ratio: 333/440;
  background-color: var(--white);
  position: relative;
}
.product-card__img img {
  transition: transform 0.5s;
}
.product-card__brand {
  max-width: fit-content;
  font-size: 14px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 7px;
  transition: opacity 0.3s;
}
.product-card__body {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.product-card__title {
  flex: 1 1 auto;
  font-size: 20px;
  line-height: 120%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: opacity 0.3s;
}
.product-card__prices {
  display: flex;
  flex-direction: column;
}
.product-card__oldprice {
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: line-through;
  color: var(--black-40);
}
.product-card__price {
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--black-60);
}

.category-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.category-card__badges {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
}
.category-card__badge {
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: var(--light);
  padding: 10px;
  word-break: break-word;
}
.category-card__img {
  display: grid;
  place-content: center;
  overflow: hidden;
  aspect-ratio: 422/550;
  background-color: var(--white);
  position: relative;
}
.category-card__img img {
  transition: transform 0.5s;
}
.category-card__title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 16px;
  font-size: 24px;
  line-height: 120%;
  transition: color 0.3s;
}
.category-card__title span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-field {
  position: relative;
}
.input-field__label {
  pointer-events: none;
  position: absolute;
  top: 26px;
  left: 10px;
  right: 10px;
  z-index: 1;
  font-size: 20px;
  background-color: var(--light);
  line-height: 130%;
  color: var(--black-40);
  transition: top 0.3s, font-size 0.3s;
}
.is-focused .input-field__label, .is-filled .input-field__label {
  top: 0;
  font-size: 14px;
}
.input-field__input {
  height: 68px;
  padding: 26px 10px 16px 10px;
  outline: none;
  border-bottom: 1px solid var(--gray);
  font-size: 20px;
  line-height: 130%;
  transition: border 0.3s;
}
.is-focused .input-field__input {
  border-color: var(--black-100);
}
.input-field__input.is-error {
  border-style: dashed;
  border-color: var(--red);
}
.input-field textarea.input-field__input {
  resize: vertical;
  min-height: 120px;
}
.input-field__error {
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 1px;
  bottom: 1px;
  z-index: 2;
  padding-top: 10px;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 130%;
  background-color: var(--light);
  color: var(--red);
}

.breadcrumbs {
  margin: 34px 0 36px 0;
}
.breadcrumbs__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px 37px;
}
.breadcrumbs__link {
  max-width: fit-content;
  border-radius: 36px;
  min-width: 36px;
  min-height: 36px;
  padding: 8px 10px;
  color: var(--black-100);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  line-height: 110%;
  position: relative;
  transition: background 0.3s, color 0.3s;
}
.breadcrumbs__link:not(:last-child)::after {
  content: "/";
  position: absolute;
  top: 50%;
  left: calc(100% + 16px);
  transform: translate(0px, -50%);
}
.breadcrumbs__link.is-active {
  color: var(--black-40);
}

.sel-block {
  position: relative;
  display: flex;
}
.sel-block.sel-open {
  z-index: 5;
}
.sel-block.sel-open .sel-block__current {
  border-color: var(--black-100);
}
.sel-block.sel-open .sel-block__current-icon {
  transform: rotate(-180deg);
}
.sel-block.sel-open .sel-block__dropdown {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}
.sel-block__current {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 8px;
  min-height: 59px;
  padding: 16px;
  border-bottom: 2px solid transparent;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--black-80);
  transition: border 0.3s, background 0.3s, color 0.3s;
}
.sel-block__current--input {
  position: relative;
  gap: 0;
}
.sel-block__current .input-field {
  width: 100%;
}
.sel-block__current .input-field__input {
  width: 100%;
  padding-right: 48px;
}
.sel-block__current-value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 20px;
}
.sel-block__mob-hide {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sel-block__current-icon {
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  display: grid;
  place-content: center;
  margin-left: auto;
  transition: transform 0.3s;
}
.sel-block__current-icon svg {
  width: 100%;
  height: auto;
}
.sel-block__current--input .sel-block__current-icon {
  position: absolute;
  top: 44px;
  right: 24px;
}
.sel-block__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  min-width: max-content;
  width: 100%;
  border: 1px solid var(--gray);
  background-color: var(--light);
  padding: 16px;
  transform-origin: 0 0;
  transform: rotateX(-90deg);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  max-height: 190px;
  display: grid;
  overflow: hidden auto;
}
.sel-block__dropdown::-webkit-scrollbar {
  width: 2px;
  display: block;
}
.sel-block__dropdown::-webkit-scrollbar-track {
  background: var(--white);
  border: none;
}
.sel-block__dropdown::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border: none;
  cursor: grab;
}
.sel-block__options {
  display: flex;
  flex-direction: column;
}
.sel-block__option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--black-60);
  padding: 10px;
  transition: background 0.3s, color 0.3s;
}
.sel-block__option.disabled {
  opacity: 0.3;
  pointer-events: none;
}
.sel-block__option.is-active {
  background-color: var(--light-2);
  color: var(--black-100);
}

.ocf-checkbox {
  max-width: fit-content;
  position: relative;
  gap: 4px;
  display: inline-flex;
  text-align: left;
}
.ocf-checkbox:before {
  content: "";
  margin-top: 1.5px;
  margin-right: 8px;
  border-radius: 2px;
  align-self: flex-start;
  flex: 0 0 16px;
  width: 16px;
  height: 16px;
  border: 1px solid var(--gray);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}
.ocf-checkbox.is-active::before {
  border-color: var(--black-100);
  background-color: var(--black-100);
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='7' viewBox='0 0 8 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3.00024L4 5.50024L7 0.500244' stroke='white' /%3E%3C/svg%3E");
}
.ocf-checkbox.ocf-disabled {
  pointer-events: none;
  cursor: no-drop;
}
.ocf-checkbox.ocf-disabled::before {
  background-color: var(--gray);
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='7' viewBox='0 0 8 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3.00024L4 5.50024L7 0.500244' stroke='%239d9d9d' /%3E%3C/svg%3E");
}
.ocf-checkbox__text {
  align-self: center;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: var(--black-80);
  transition: color 0.3s;
}
.ocf-checkbox__quantity {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--black-40);
}.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  background-color: var(--light);
}
.header__top {
  padding: 24px 0 20px 0;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  gap: 20px;
}
.header__top-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.header__burger {
  max-width: fit-content;
  display: flex;
  align-items: center;
  gap: 19px;
}
.header__burger-icon {
  flex-shrink: 0;
  display: block;
  position: relative;
  border: 1px solid var(--gray);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  z-index: 5;
  transition: background 0.3s;
}
.header__burger-icon span, .header__burger-icon::before, .header__burger-icon::after {
  content: "";
  transition: all 0.3s ease 0s;
  right: 16px;
  position: absolute;
  width: 14px;
  height: 1px;
  background-color: var(--gray-3);
}
.header__burger-icon::before {
  top: 40%;
}
.header__burger-icon::after {
  bottom: 40%;
}
.header__burger-icon span {
  top: calc(50% - 0.5px);
}
.header__burger.is-active .header__burger-icon span {
  width: 0;
}
.header__burger.is-active .header__burger-icon::before {
  top: calc(50% - 0.5px);
  transform: rotate(-45deg);
}
.header__burger.is-active .header__burger-icon::after {
  bottom: calc(50% - 0.5px);
  transform: rotate(45deg);
}
.header__burger-text {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--black-60);
  transition: color 0.3s;
}
.header__logo {
  max-width: 183px;
  display: grid;
  transition: opacity 0.3s;
}
.header__logo img {
  width: 100%;
  object-fit: cover;
}
.header__top-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  row-gap: 12px;
}
.header__actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.header__action {
  position: relative;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  color: var(--black-40);
  transition: color 0.3s;
}
.header__action-count {
  position: absolute;
  top: -4px;
  right: -4px;
  z-index: 2;
  background-color: var(--black-100);
  border-radius: 50%;
  padding: 2px 3.5px;
  min-height: 16px;
  min-width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--white-80);
}
.header__cart {
  display: none;
}
.header__body {
  border-top: 1px solid #d0cfca;
  position: relative;
}
.menu__catalog {
  display: none;
}
.menu__head {
  display: none;
}
.menu__close {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--black-40);
}
.menu__close-icon {
  border: 1px solid var(--gray);
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 5px;
  display: grid;
  place-content: center;
}
.menu__close-icon svg {
  color: var(--gray-3);
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 10px;
}
.menu__link {
  position: relative;
  padding: 20px 0;
  font-size: 16px;
  line-height: 130%;
  color: var(--black-80);
  transition: color 0.3s;
}
.menu__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--gray);
  transition: width 0.3s, background 0.3s;
}
.menu__link[data-menu] {
  display: flex;
  align-items: center;
  gap: 8px;
}
.menu__link[data-menu]::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 1L4 4L1 1' stroke='%23939393' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;
  width: 8px;
  height: 8px;
  transition: background 0.3s, transform 0.3s;
}
.menu__link[data-menu].is-active {
  color: var(--black-100);
}
.menu__link[data-menu].is-active::before {
  width: 100%;
  background-color: var(--black-100);
}
.menu__link[data-menu].is-active::after {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 1L4 4L1 1' stroke='%231D1D1B' /%3E%3C/svg%3E");
  transform: rotate(-180deg);
}

.header-small {
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: var(--light);
  padding: 24px 0 20px 0;
  border-bottom: 1px solid var(--gray);
}
.header-small__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.header-small__back {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid var(--gray);
  background-color: var(--white);
  padding: 5px;
  display: grid;
  place-content: center;
  color: var(--gray-4);
  transition: background 0.3s, color 0.3s;
}
.header-small__logo {
  max-width: 183px;
  display: grid;
  transition: opacity 0.3s;
}
.header-small__logo img {
  width: 100%;
  object-fit: cover;
}
.header-small__phone {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-small__phone-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid var(--gray);
  background-color: var(--light);
  padding: 5px;
  display: grid;
  place-content: center;
  color: var(--black-60);
  transition: background 0.3s, color 0.3s;
}
.header-small__phone-text {
  font-size: 20px;
  line-height: 130%;
  transition: color 0.3s;
}.cart-block {
  display: flex;
  flex-direction: column;
}
.cart-block.dropdown-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 50;
  width: 100%;
  min-height: 100%;
  border-top: none;
}
.cart-block.dropdown-menu::-webkit-scrollbar {
  width: 4px;
  display: block;
}
.cart-block.dropdown-menu::-webkit-scrollbar-track {
  background: var(--white);
  border: none;
}
.cart-block.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border: none;
  cursor: grab;
}
.cart-block__wrapper {
  flex: 1 1 auto;
  max-width: fit-content;
  width: 100%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding-right: max(0px, (100% - 1760px) / 2);
  transform: translate(100%, 0px);
  transition: transform 0.3s;
}
.cart-block.is-open .cart-block__wrapper {
  transform: translate(0px, 0px);
}
.cart-block__body {
  flex: 1 1 auto;
  width: 840px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cart-block__head {
  position: sticky;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: var(--white);
  padding: 20px 60px;
}
.cart-block__title {
  line-height: 120%;
}
.cart-block__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  display: grid;
  place-content: center;
  color: var(--black-40);
  transition: color 0.3s;
}
.cart-block__products {
  flex: 1 1 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  gap: 29px;
}
.cart-block__bottom {
  position: sticky;
  bottom: 0;
  z-index: 5;
  width: 100%;
  background-color: var(--white);
  padding: 20px 60px 40px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
.cart-block__bottom::before {
  content: "";
  pointer-events: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 157px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  transition: height 0.3s;
}
.cart-block.scrolled-end .cart-block__bottom::before {
  height: 0px;
}
.cart-block__order {
  margin: 0 auto;
}

.cart-product {
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;
}
.cart-product__img {
  display: flex;
  place-content: center;
  max-width: 228px;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.cart-product__body {
  flex: 1 1 auto;
  padding: 32px 0;
}
.cart-product__body > *:not(:last-child) {
  margin-bottom: 20px;
}
.cart-product__delete {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  display: grid;
  place-content: center;
  color: var(--black-40);
  transition: color 0.3s;
}
.cart-product__head {
  display: flex;
  gap: 10px;
}
.cart-product__title {
  flex: 1 1 auto;
  font-size: 20px;
  line-height: 120%;
}
.cart-product a.cart-product__title {
  transition: color 0.3s;
}
.cart-product__prices {
  display: flex;
  flex-direction: column;
}
.cart-product__oldprice {
  font-size: 14px;
  line-height: 130%;
  text-transform: uppercase;
  text-decoration: line-through;
  color: var(--black-60);
}
.cart-product__price {
  font-size: 16px;
  line-height: 130%;
  color: var(--black-80);
}
.cart-product__details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px 24px;
}
.cart-product__block {
  display: flex;
  align-items: center;
  gap: 12px;
  line-height: 130%;
  color: var(--black-80);
}
.cart-product__color {
  width: 36px;
  height: 36px;
  border: 6px solid var(--light);
  border-radius: 50%;
  position: relative;
  z-index: 2;
}
.cart-product__color::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: inherit;
  height: inherit;
  border: 1px solid var(--gray);
}
.cart-product__size {
  border: 1px solid var(--gray);
  border-radius: 64px;
  min-width: 48px;
  min-height: 48px;
  padding: 7px;
  display: grid;
  place-content: center;
  text-align: center;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.03em;
}.footer__body {
  border-top: 1px solid var(--gray);
  padding: 64px 0;
  display: flex;
  justify-content: space-between;
  gap: 36px;
}
.footer__logo {
  max-width: 226px;
}
.footer__logo img {
  width: 100%;
  object-fit: cover;
}
.footer__menu {
  max-width: 1257px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  row-gap: 36px;
}
.footer__col {
  border-right: 1px solid var(--gray);
  padding: 0 100px;
}
.footer__title {
  max-width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  line-height: 120%;
  padding-bottom: 4px;
  margin-bottom: 20px;
}
.footer a.footer__title {
  position: relative;
}
.footer a.footer__title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: var(--black-100);
  width: 0;
  transition: width 0.3s;
}
.footer a.footer__title svg {
  color: var(--black-50);
  transition: color 0.3s;
}
.footer__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
}
.footer__list.columns-2 {
  display: block;
  column-count: 2;
  column-gap: 16px;
}
.footer__list.columns-2 .footer__item {
  margin-bottom: 8px;
}
.footer__link {
  max-width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--black-70);
  line-height: 120%;
  transition: color 0.3s;
  padding-bottom: 4px;
  position: relative;
}
.footer__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--gray);
  width: 0;
  height: 2px;
  transition: width 0.3s;
}
.footer__link svg {
  color: var(--black-20);
  transition: color 0.3s;
}
.footer__copy {
  border-top: 1px solid var(--gray);
  padding: 24px 0;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: var(--black-70);
}

.footer-small {
  padding: 24px 0;
  background-color: var(--black-100);
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: var(--white);
}

@media (max-width: 89.99875em) {
  .footer__col {
    padding: 0 30px;
  }
}

@media (max-width: 74.99875em) {
  .footer__menu {
    max-width: 70%;
  }
  .footer__list.columns-2 {
    display: flex;
    column-count: auto;
  }
}

@media (max-width: 61.99875em) {
  .menu-open body {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }
  .category-card__title {
    font-size: 20px;
    gap: 7px;
  }
  .menu__link {
    padding: 10px 0;
  }
  .header-small {
    padding: 16px 0;
  }
  .header-small__back {
    width: 36px;
    height: 36px;
  }
  .header-small__phone {
    gap: 10px;
  }
  .header-small__phone-icon {
    width: 36px;
    height: 36px;
  }
  .header-small__phone-text {
    font-size: 18px;
  }
  .cart-block__wrapper {
    max-width: 90%;
    padding-right: 0;
  }
  .cart-block__body {
    width: 100%;
  }
  .cart-product__title {
    font-size: 18px;
  }
  .footer__col {
    padding: 0 20px;
  }
}

@media (max-width: 47.99875em) and (max-height: 37.49875em) {
  .cart-block__bottom::before {
    height: 60px;
  }
}

@media (max-width: 47.99875em) and (max-height: 31.24875em) {
  .cart-block__bottom::before {
    height: 0px;
  }
}

@media (max-width: 47.99875em) {
  .button,
  .button-empty,
  .button-dark {
    padding: 12px 20px;
    min-height: 51px;
    font-size: 16px;
  }
  .dropdown-menu {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 55;
    width: 100%;
    min-height: 100%;
    background-color: var(--light);
    transition: left 0.3s;
  }
  .dropdown-menu.is-open {
    left: 0;
  }
  .lines-decor {
    gap: 7px;
  }
  .product-card--empty {
    display: none;
  }
  .product-card__title {
    font-size: 18px;
  }
  .breadcrumbs {
    margin: 16px 0;
    display: grid;
    width: 100%;
    overflow: auto hidden;
  }
  .breadcrumbs::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }
  .breadcrumbs__container {
    width: 100%;
    flex-wrap: nowrap;
    gap: 13px;
  }
  .breadcrumbs__link {
    font-size: 14px;
    white-space: nowrap;
  }
  .breadcrumbs__link:not(:last-child)::after {
    left: calc(100% + 4px);
  }
  .mob-hide {
    display: none !important;
  }
  .header__burger {
    gap: 10px;
  }
  .header__burger-icon {
    width: 36px;
    height: 36px;
  }
  .header__burger-icon span, .header__burger-icon::before, .header__burger-icon::after {
    right: 10px;
  }
  .header__burger-text {
    display: none;
  }
  .header__top-right {
    column-gap: 20px;
  }
  .header__actions:not(.--dynamic) {
    display: none;
  }
  .header__action {
    width: 64px;
    height: 64px;
    border: 1px solid var(--gray);
  }
  .header__action-count {
    top: 10px;
    right: 10px;
  }
  .header__lang:not(.--dynamic) {
    display: none;
  }
  .header__cart {
    display: grid;
    place-content: center;
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: var(--black-40);
  }
  .header__cart-count {
    position: absolute;
    top: -2px;
    right: -2px;
    z-index: 2;
    background-color: var(--black-100);
    border-radius: 50%;
    padding: 2px 3.5px;
    min-height: 16px;
    min-width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--white-80);
  }
  .menu__catalog {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 16px 12px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: var(--black-80);
  }
  .menu__head {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 55;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 0;
    background-color: var(--light);
    width: 100%;
    min-height: 84px;
  }
  .menu__body {
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 50;
    width: 100%;
    min-height: 100%;
    background-color: var(--light);
    overflow: hidden auto;
    padding: 0px 20px 30px 20px;
    transition: left 0.3s;
  }
  .menu__body.is-open {
    left: 0;
  }
  .menu__list {
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    gap: 0;
    padding-top: 12px;
  }
  .menu__link {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 36px;
    letter-spacing: -0.02em;
    color: var(--black-40);
    border-bottom: 1px solid var(--gray);
  }
  .menu__link[data-menu] {
    justify-content: space-between;
  }
  .menu__link[data-menu]::after {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 6L5.72877 12L4.65449 10.8771L8.94025 6.77693L8.08141e-08 6.77693L8.08129e-08 5.22307L8.94025 5.22307L4.65449 1.12291L5.72877 -6.83149e-08L12 6Z' fill='%23898989' /%3E%3C/svg%3E");
    background-size: 12px;
    width: 12px;
    height: 12px;
  }
  .cart-block.dropdown-menu {
    left: auto;
    right: -100%;
    transition: right 0.3s;
  }
  .cart-block.dropdown-menu.is-open {
    right: 0;
  }
  .cart-block__wrapper {
    max-width: 100%;
    margin-left: 0;
    background-color: var(--light);
  }
  .cart-block__head {
    padding: 40px 20px 20px 20px;
    background-color: var(--light);
  }
  .cart-block__close {
    top: 12px;
    right: 12px;
    border: 1px solid var(--gray);
    border-radius: 50%;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    display: grid;
    place-content: center;
    padding: 5px;
  }
  .cart-block__close svg {
    color: var(--gray-3);
  }
  .cart-block__products {
    padding: 0 20px;
    gap: 16px;
  }
  .cart-block__bottom {
    padding: 20px 20px 40px 20px;
    background-color: var(--light);
  }
  .cart-block__bottom::before {
    background: linear-gradient(180deg, rgba(253, 251, 246, 0) 0%, #fdfbf6 100%);
    height: 130px;
  }
  .cart-product__body {
    padding: 32px 0 0 0;
  }
  .cart-product__body > *:not(:last-child) {
    margin-bottom: 8px;
  }
  .footer__body {
    flex-direction: column;
    gap: 80px;
  }
  .footer__logo {
    margin: 0 auto;
  }
  .footer__menu {
    max-width: 100%;
  }
}

@media (max-height: 43.74875em) {
  .cart-block__bottom::before {
    height: 60px;
  }
}

@media (max-width: 40.62375em) {
  .product-card--big {
    grid-row: auto;
  }
  .header-small__container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 12px;
  }
  .header-small__phone-text {
    display: none;
  }
  .cart-product {
    gap: 12px;
  }
  .cart-product .quantity {
    display: none;
  }
  .cart-product__img {
    max-width: 30%;
  }
  .footer__menu {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer__col {
    padding: 36px 0 0 0;
    border-top: 1px solid var(--gray);
    border-right: none;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer__title {
    font-size: 36px;
    text-align: center;
    justify-content: center;
  }
  .footer__link {
    max-width: 100%;
    text-align: center;
    justify-content: center;
  }
}

@media (max-height: 31.24875em) {
  .cart-block__bottom::before {
    height: 0px;
  }
}

@media (max-width: 29.99875em) {
  .title--h1 {
    font-size: 90px;
  }
  .title--h2 {
    font-size: 36px;
  }
  .title--h3 {
    font-size: 30px;
  }
  .title--h4 {
    font-size: 24px;
  }
  .title--h5 {
    font-size: 18px;
  }
  .title--h6 {
    font-size: 16px;
  }
  .product-card__badge {
    font-size: 12px;
    padding: 6px;
  }
  .product-card__body {
    flex-direction: column;
    gap: 8px;
  }
  .product-card__prices {
    max-width: fit-content;
    align-items: flex-end;
    flex-direction: row-reverse;
    gap: 6px;
  }
  .product-card__oldprice {
    font-size: 13px;
  }
  .product-card__price {
    font-size: 16px;
  }
  .category-card__badge {
    font-size: 12px;
    padding: 6px;
  }
  .sel-block__mob-hide {
    display: none;
  }
  .menu__catalog {
    width: 100%;
  }
  .menu__list {
    column-gap: 20px;
  }
  .cart-block__products {
    gap: 10px;
  }
  .cart-product__img {
    max-width: 62px;
    min-width: 62px;
  }
  .cart-product__details {
    gap: 8px 12px;
  }
  .cart-product__block {
    gap: 4px;
  }
  .footer__copy {
    font-size: 12px;
  }
}

@media (max-width: 22.49875em) {
  .category-card__title {
    font-size: 16px;
  }
  .input-field__label {
    font-size: 16px;
  }
  .input-field__input {
    font-size: 16px;
  }
  .menu__link {
    font-size: 24px;
  }
  .cart-product__head {
    flex-direction: column;
    gap: 8px;
  }
  .cart-product__prices {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 8px;
  }
  .cart-product__size {
    min-width: 36px;
    min-height: 36px;
    padding: 4px;
    font-size: 14px;
  }
}

@media (min-width: 29.99875em) and (max-width: 112.5em) {
  .title--h1 {
    font-size: clamp( 90px , 79.0915289162px  +  2.272692838vw , 120px );
  }
  .title--h2 {
    font-size: clamp( 36px , 25.8187603218px  +  2.1211799821vw , 64px );
  }
  .title--h3 {
    font-size: clamp( 30px , 23.4549173497px  +  1.3636157028vw , 48px );
  }
  .title--h4 {
    font-size: clamp( 24px , 19.6366115665px  +  0.9090771352vw , 36px );
  }
  .menu__list {
    column-gap: clamp( 20px , 10.5459917274px  +  1.9696671263vw , 46px );
  }
}

@media (min-width: 29.99875em) {
  .footer__col:nth-child(3n+3) {
    padding-right: 0;
    border-right: none;
  }
  .footer__col:nth-child(1), .footer__col:nth-child(3n+4) {
    padding-left: 0;
  }
}

@media (min-width: 47.99875em) and (max-width: 112.5em) {
  .header__top-right {
    column-gap: clamp( 20px , -12.7426987849px  +  4.2634832658vw , 64px );
  }
}

@media (min-width: 47.99875em) {
  .dropdown-menu:not(.menu__body, .filter-aside) {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, 0px);
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    border-top: 1px solid var(--light);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
  .dropdown-menu:not(.menu__body, .filter-aside)::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }
  .dropdown-menu:not(.menu__body, .filter-aside).is-open {
    opacity: 1;
    visibility: visible;
  }
  .dropdown-menu:not(.menu__body, .filter-aside).is-open [class*=__container] {
    transform: rotateX(0deg);
  }
  .dropdown-menu:not(.menu__body, .filter-aside) > * {
    pointer-events: all;
  }
  .dropdown-menu:not(.menu__body, .filter-aside) [class*=__container] {
    position: relative;
    transform-origin: 0 0;
    transform: rotateX(-90deg);
    transition: transform 0.4s;
  }
  .dropdown-menu:not(.menu__body, .filter-aside) [class*=__container]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    z-index: -1;
    transform: translate(-50%, 0px);
    width: 100vw;
    background-color: var(--light);
  }
  .menu__body {
    height: auto !important;
  }
  .cart-block.dropdown-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
    width: 100%;
    min-height: 100%;
    border-top: none;
  }
}

@media (min-width: 112.5em) {
  .title--h1 {
    font-size: 120px;
  }
  .title--h2 {
    font-size: 64px;
  }
  .title--h3 {
    font-size: 48px;
  }
  .title--h4 {
    font-size: 36px;
  }
  .header__top-right {
    column-gap: 64px;
  }
  .menu__list {
    column-gap: 46px;
  }
}

@media (any-hover: hover) {
  .button:hover,
  .button-empty:hover,
  .button-dark:hover {
    background-color: var(--light-2);
    border-color: var(--light-2);
  }
  .button-empty--white:hover {
    background-color: var(--light-2);
    border-color: var(--light-2);
    color: var(--black-100);
  }
  .button-dark:hover {
    background-color: var(--dark-2);
    border-color: var(--dark-2);
    color: var(--white);
  }
  .lang-block__link:hover {
    border-color: var(--gray);
    color: var(--black-100);
  }
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background-color: var(--dark);
    border-color: var(--dark);
  }
  .product-card__delete:hover {
    color: var(--black-80);
    background-color: var(--light-5);
  }
  .product-card__img:hover img {
    transform: scale(1.05);
  }
  .product-card__brand:hover {
    opacity: 0.6;
  }
  .product-card__title:hover {
    opacity: 0.6;
  }
  .category-card:hover .category-card__img img {
    transform: scale(1.05);
  }
  .category-card:hover .category-card__title {
    color: var(--black-60);
  }
  .breadcrumbs__link:hover {
    background-color: var(--light-5);
  }
  .sel-block__current:hover {
    background-color: var(--light-2);
    color: var(--black-100);
  }
  .sel-block__option:hover {
    color: var(--black-100);
  }
  .ocf-checkbox:hover::before {
    border-color: var(--gray-2);
  }
  .ocf-checkbox:hover .ocf-checkbox__text {
    color: var(--black-60);
  }
  .header__burger:hover .header__burger-icon {
    background-color: var(--gray);
  }
  .header__burger:hover .header__burger-text {
    color: var(--black-100);
  }
  .header__logo:hover {
    opacity: 0.6;
  }
  .header__action:hover {
    color: var(--black-100);
  }
  .menu__link:hover {
    color: var(--black-100);
  }
  .menu__link:hover::before {
    width: 100%;
  }
  .menu__link[data-menu]:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 1L4 4L1 1' stroke='%23555555' /%3E%3C/svg%3E");
  }
  .header-small__back:hover {
    background-color: var(--gray);
    color: var(--gray-3);
  }
  .header-small__logo:hover {
    opacity: 0.6;
  }
  .header-small__phone:hover .header-small__phone-icon {
    background-color: var(--gray);
    color: var(--gray-3);
  }
  .header-small__phone:hover .header-small__phone-text {
    color: var(--black-60);
  }
  .cart-block__close:hover {
    color: var(--black-100);
  }
  .cart-product__delete:hover {
    color: var(--black-100);
  }
  .cart-product a.cart-product__title:hover {
    color: var(--black-60);
  }
  .footer a.footer__title:hover::before {
    width: 100%;
  }
  .footer a.footer__title:hover svg {
    color: var(--black-100);
  }
  .footer__link:hover {
    color: var(--black-100);
  }
  .footer__link:hover::before {
    width: 100%;
  }
  .footer__link:hover svg {
    color: var(--black-100);
  }
}

@media (any-hover: none) {
  .header__burger-icon {
    cursor: default;
  }
}