.spollers {
  display: flex;
  flex-direction: column;
}

.spollers__item {
  padding: 24px 0;
  border-bottom: 1px solid var(--gray);
  font-size: 16px;
  line-height: 130%;
}
.spollers__item h1,
.spollers__item h2,
.spollers__item h3,
.spollers__item h4,
.spollers__item h5,
.spollers__item h6 {
  font-family: var(--second-family);
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.02em;
}
.spollers__item h1:not(:first-child),
.spollers__item h2:not(:first-child),
.spollers__item h3:not(:first-child),
.spollers__item h4:not(:first-child),
.spollers__item h5:not(:first-child),
.spollers__item h6:not(:first-child) {
  margin-top: 29px;
}
.spollers__item h1:not(:last-child),
.spollers__item h2:not(:last-child),
.spollers__item h3:not(:last-child),
.spollers__item h4:not(:last-child),
.spollers__item h5:not(:last-child),
.spollers__item h6:not(:last-child) {
  margin-bottom: 20px;
}
.spollers__item h3 {
  font-size: 24px;
}
.spollers__item h4 {
  font-size: 20px;
}
.spollers__item h5 {
  font-size: 18px;
}
.spollers__item h6 {
  font-size: 17px;
}
.spollers__item ul,
.spollers__item ol {
  padding-left: 25px;
}
.spollers__item ul li {
  list-style: disc;
}
.spollers__item a {
  font-weight: 600;
  text-decoration: underline;
  transition: color 0.3s;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 12px;
  list-style: none;
}
.spollers__title::marker, .spollers__title::-webkit-details-marker {
  display: none;
}
.spollers__title {
  cursor: pointer;
}
.spollers__title::after {
  content: "";
  flex-shrink: 0;
  margin-left: auto;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 1px solid var(--gray);
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.24264 0.757307L0.565572 0.949095L0.599956 2.50275L6.5297 2.3715L0.207983 8.69321L1.30673 9.79196L7.62845 3.47025L7.4972 9.39999L9.05085 9.43438L9.24264 0.757307Z' fill='%23898989'/%3E%3C/svg%3E%0A");
  background-color: var(--white);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  transition: transform 0.5s ease 0s, border 0.3s, background 0.3s;
}
.spollers__title.--spoller-active::after {
  background-color: var(--black-100);
  border-color: var(--black-100);
  transform: rotate(-180deg);
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.24264 0.757307L0.565572 0.949095L0.599956 2.50275L6.5297 2.3715L0.207983 8.69321L1.30673 9.79196L7.62845 3.47025L7.4972 9.39999L9.05085 9.43438L9.24264 0.757307Z' fill='%23fdfbf6'/%3E%3C/svg%3E%0A");
}

.spollers__body {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.spollers__body ul,
.spollers__body ol {
  padding-left: 25px;
}
.spollers__body ul li {
  list-style: disc;
}
.spollers__body a {
  font-weight: 600;
  text-decoration: underline;
  transition: color 0.3s;
}.faq {
  margin-bottom: 200px;
}
.faq__head:not(:last-child) {
  margin-bottom: 48px;
}
@media (max-width: 47.99875em) {
  .spollers__item h3 {
    font-size: 20px;
  }
  .spollers__item h4 {
    font-size: 18px;
  }
  .spollers__item h5 {
    font-size: 16px;
  }
  .spollers__item h6 {
    font-size: 16px;
  }
  .faq {
    margin-bottom: 100px;
  }
}
@media (max-width: 29.99875em) {
  .spollers__item h1 {
    font-size: 36px;
  }
  .spollers__item h2 {
    font-size: 24px;
  }
}
@media (max-width: 22.49875em) {
  .spollers__title::after {
    height: 36px;
    width: 36px;
  }
}
@media (min-width: 29.99875em) and (max-width: 112.5em) {
  .spollers__item h1 {
    font-size: clamp( 36px , 31.6366115665px  +  0.9090771352vw , 48px );
  }
  .spollers__item h2 {
    font-size: clamp( 24px , 19.6366115665px  +  0.9090771352vw , 36px );
  }
}
@media (min-width: 112.5em) {
  .spollers__item h1 {
    font-size: 48px;
  }
  .spollers__item h2 {
    font-size: 36px;
  }
}
@media (any-hover: hover) {
  .spollers__item a:hover {
    text-decoration: none;
    color: var(--black-80);
  }
  .spollers__body a:hover {
    text-decoration: none;
    color: var(--black-80);
  }
}