section.info-block {
  padding-top: 36px;
  margin-bottom: 200px;
}

.info-block__body {
  max-width: 865px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  line-height: 130%;
}
.catalog .info-block__body {
  max-width: 665px;
}
.info-block__icon {
  max-width: 96px;
  width: 100%;
}
.info-block__icon img {
  width: 100%;
  object-fit: cover;
}
.info-block__text {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 47.99875em) {
  section.info-block {
    padding-top: 16px;
    margin-bottom: 100px;
  }
}
@media (max-width: 29.99875em) {
  .catalog .info-block__title {
    font-size: 24px;
  }
  .info-block__btn {
    max-width: 100%;
  }
}
@media (min-width: 29.99875em) and (max-width: 112.5em) {
  .catalog .info-block__title {
    font-size: clamp( 24px , 9.4553718883px  +  3.0302571173vw , 64px );
  }
}
@media (min-width: 112.5em) {
  .catalog .info-block__title {
    font-size: 64px;
  }
}